GOOGLE_API_KEY=api_key_here
GOOGLE_EMBEDDING_MODEL=gemini-embedding-2-preview
GOOGLE_LLM_MODEL=gemini-3.1-pro-preview
GOOGLE_VISION_MODEL=gemini-2.5-flash

# PGVector Database Configuration
PG_CONNECTION_STRING=postgresql+psycopg://user:password@localhost:5432/multimodal_rag_db
